<div>
  <h2>json to ts file</h2>
  <div style="display: flex;flex-direction: column;">
    <small>You can convert xml to json this <a href="https://jsonformatter.org/xml-to-json" target="_blank">Link</a>.</small>
    <h3>Json string</h3>
    <textarea [(ngModel)]="metData"></textarea>
  </div>
  <button (click)="showList()" [disabled]="!metData.length">Show List</button>
  <button (click)="downLoadEntityFiles()" [disabled]="!entities.length">Download Dto List</button>
  <button (click)="downloadEnumFiles()" [disabled]="!enums.length">Download Enum List</button>
</div>
<h1>Dto</h1>
<div>
  <div style="border-width: 2px;border-color: black;" *ngFor="let entity of entities">
    <h3>{{entity.Name}}</h3>
    <hr>
    <div *ngFor="let prop of entity.Property">
      <h4 style="color: grey;">{{prop.Name}} : {{prop.Type}}</h4>
    </div>
  </div>
</div>
<h1>Enums</h1>
<div>
  <div style="border-width: 2px;border-color: black;" *ngFor="let enum of enums">
    <h3>{{enum.Name}}</h3>
    <hr>
    <div *ngFor="let member of enum.Member">
      <h4 style="color: grey;">{{member.Name}} : {{member.Value}}</h4>
    </div>
  </div>
</div>
